---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>

<!-- Gitalk 评论 start  -->

<!-- Link Gitalk 的支持文件  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script> 
<div id="gitalk-container"></div>     <script type="text/javascript">
    var gitalk = new Gitalk({

    // gitalk的主要参数
		clientID: ed83418b39c848ae89c6,
		clientSecret: 0fc40881d7da0ee8e46cab73a38fc39d134cb832,
		repo: eric-haha.github.io,
		owner: Eric-haha,
		admin: [Eric-xin,Eric-haha,Eric-hello],
	    	id: hello,
    
    });
    gitalk.render('gitalk-container');
</script> 
<!-- Gitalk end -->
